.VodClip{
    text-align: center;
}
#NavBar {
    text-align: center;
}
#Info{
    text-align: center;
    font-family: monospace;
}

#Align-Center{
    text-align: center;
}
GameContent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
