{% extends "layouts/layout.html" %}
{% block head %} {{super()}} 

{% endblock %} 

<body>
	{% block nav %} {{super()}} {% endblock %} 
    {% block content %}
    <div class="GameContent">
        <div class="VodClip">
            <p><a href="https://flashphoner.com/embedding-capture-vod-from-file-to-html-page">link</a> to a play video into html, we will use javascript to display the video on 
                load. </p>
        </div>

        <div id="Info">
            <h2 id="Header2">Information about the org</h2>
            <p>This is filler text about the information on the org, we will have artic or someone write this part out :D</p>
        </div>
    </div>


    {% endblock %}
</body>
</html>