{% extends "layouts/layout.html" %}
{% block head %} {{super()}} 

{% endblock %} 

<body>
	{% block nav %} {{super()}} {% endblock %} 
    {% block content %}
    <div class="GameContent">
        <div class="rosters">
            <h3>Main Roster</h3>
            <ol>
                <li>Sterban</li>
                <li>Garretts46</li>
                <li>AfterShock</li>
            </ol>
            <h3>Second Team</h3>
            <ol>
                <li>Leaf</li>
                <li>Crippled Crayon</li>
                <li>jkl2k2</li>
            </ol>

        </div>
        <div class="Schedule">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&src=Y19lbW5lbTlxdWszczk4cWQxMDQydWs1cW02Z0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457" 
            style="border:solid 1px #777" width="800" height="600" 
            frameborder="0" scrolling="no"></iframe>
        </div>
    </div>


    {% endblock %}
</body>
</html>